.galleryMainContainer {
    margin: 8rem 4rem;
    text-align: center;
    article {
        flex-grow: 1;
        flex-basis: 0;
        figure {
            width: 100%;
            height: auto;
            img {
                box-sizing: border-box;
                height: auto;
                max-width: 100%;
                object-fit: cover;
                aspect-ratio: 1;
            }
        }
    }
}
