@mixin flex {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

@mixin articleGrow {
    flex-grow: 1;
    flex-basis: 0;
}

@mixin figureSizing {
    margin: 0;
    width: 100%;
    height: 100%;
}

@mixin imgSizing {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}

.galleryMainContainer {
    margin: 8rem 4rem;
    text-align: center;
}

.firstRow {
    @include flex();
    .firstRowArticle {
        @include articleGrow();
        figure {
            @include figureSizing();
            img {
                @include imgSizing();
            }
        }
    }
}

.secondRow {
    @include flex();
    .secondRowArticle {
        @include articleGrow();
        figure {
            @include figureSizing();
            img {
                @include imgSizing();
            }
        }
    }
}