@mixin section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    .headerSectionOne {
        @include section();

        .title {
            padding: 0 10px;
            font-size: 24px;
            font-weight: 700;
            color: green;
        }
    }

    .headerSectionTwo {
        @include section();

        .cart {
            background-color: transparent;
            width: 50px;
            height: 50px;
        }
    }
}