.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    margin-top: 10rem;
}

.productCover {
    display: grid;
    grid-template-columns: 500px 500px;
    img {
        width: 400px;
        height: auto;
        object-fit: cover;
    }
    h3 {
        margin: 0;
        line-height: 1;
        font-weight: 500;
        font-size: 2.4rem;
    }
    p {
        text-wrap: wrap;
        font-size: 1.4rem;
    }
}

.productInformation ul {
    list-style: none;
    li {
        margin: 0.5rem;
        font-size: 2rem;
    }
}

.productInformation {
    span {
        &:nth-child(1) {
            color: red;
            text-decoration: line-through;
        }
        &:nth-child(2) {
            color: #469728;
        }
    }
} 

.priceSection button {
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    border-color: transparent;
    background-color: orangered;
    transition: 0.3s linear;
    &:hover {
        background-color: orange;
        border-color: gold;
    }
}

@media screen and (max-width: 991px) {
    .productCover img {
        width: 215px;
        height: 267px;
    }
}

@media screen and (max-width: 1220px) {
    .productCover img {
        width: 300px;
        height: 372px;
        object-fit: fill;
    }
}