.discountMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    h2 {
        align-self: flex-start;
        margin-top: 7rem;
    }
}

.discounts {
    display: flex;
    gap: 1rem;
    article {
        flex-basis: 0;
        flex-grow: 1;
        cursor: pointer;
        text-align: center;
        &:hover {
            border-radius: 20px;
            box-shadow: 6px 4px 5px 4px #bbbb;
        }
    }
}

.discounts a {
    color: black;
}

.discounts figure {
   margin: 1em 0 1em;
   width: 100%;
   img {
        aspect-ratio: 1;
        object-fit: contain;
        box-sizing: border-box;
        height: auto;
        max-width: 100%;
        vertical-align: bottom;
   }
}

.discounts h3 {
    margin: 1rem;
    line-height: 1;
    font-weight: 500;
    text-wrap: balance;
    font-size: 1.4rem;
    height: 2.5rem;
    &:hover {
        color: orange;
    }
}

.discounts p {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1.2rem;
  
}

.productPrice {
    & :nth-child(1) {
        color: red;
        text-decoration: line-through;
    }
    & :nth-child(2) {
        color: #469728;
    }
}