@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin form {
    animation-duration: 1000ms;
    animation-timing-function: linear;
    
    width: 350px;
    height: 350px;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px #52feaa;
    border-radius: 15px;

    @include flex();
    gap: 15px;

    label {
        @include flex();
        color: rgb(86,195,34);

        input {
            border-radius: 5px;
            width: 100%;
            height: 25px;
            text-align: center
        }
    }
}

.entryMainContainer {
    @include flex();
    gap: 50px;

    .loginForm {
        @include form();
        animation-name: rotate-right;
    }

    .registerForm {
        @include form();
        animation-name: rotate-left;
    }

    .toggleBtn {
        width: 150px;
        height: 50px;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        color: black;
        background-color: #52feaa;

        &:hover {
            background-color: rgb(86,195,34);
            color: black;
        }
    }
   
}   

@keyframes rotate-left {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-180deg);
    }
}

@keyframes rotate-right {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}