@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin form {
    @include flex();
    gap: 15px;
    border: unset;
    width: 100%;
    
    input {
        border-radius: 5px;
        width: 100%;
        height: 40px;
        text-align: center;
        background-color: #e8f0fe;
        box-shadow: 0px 0px 5px 0px #52feaa;
        &::placeholder {
            font-size: 16px
        }
    }
    
}

main{
    
    .form_titles {
        @include flex();
        flex-direction: row;
        gap: 20px;

        li {
            color: #d0e3ea;
            cursor: pointer;
            margin: 10px;
        }
    }  
  
    .entry_form {
        @include flex();
        width: 100%;
        padding: 20px;
       

        .login_form {
            @include form();
        }
    
        .register_form {
            @include form();
        }

        .submit_btn {
            width: 100%;
            height: 40px;
            margin: 20px 0;
            border: 2px solid black;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 500;
            color: black;
            background-color: #52feaa;
    
            &:hover {
                background-color: rgb(86,195,34);
                color: black;
            }
        }

        .error {
            color: red;
        }
    }
}