@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin form {
    @include flex();
    gap: 15px;
    border: unset;

    input {
        border-radius: 5px;
        width: 100%;
        height: 25px;
        text-align: center;
        background-color: #e8f0fe
    }

    
}

main{
  
    .entryForm {
        @include flex();
        width: 350px;
        height: 350;
        padding: 20px;
        box-shadow: 0px 0px 5px 0px #52feaa;
        border-radius: 15px;
        background-color: #313a49;

        .loginForm {
            @include form();
        }
    
        .registerForm {
            @include form();
        }

        .formTitles {
            @include flex();
            flex-direction: row;
            gap: 20px;

            li {
                color: #d0e3ea;
                margin: 10px;
            }
        }  

        .submitBtn {
            width: 150px;
            height: 50px;
            border: 2px solid black;
            border-radius: 10px;
            font-size: 16px;
            font-weight: 500;
            color: black;
            background-color: #52feaa;
    
            &:hover {
                background-color: rgb(86,195,34);
                color: black;
            }
        }
    }
}