.headerMainContainer {
    background-image: url('https://dotcompatterns.files.wordpress.com/2024/01/paint-wide-3.jpg');
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.headerMainContainer {
    figure {
        margin: 0;
        text-align: center;
    }
}


.headerMainContainer {
    div {
        margin-right: 2rem;
        button {
            font-size: 1rem;
        }
        p {
            font-size: 1.5rem;
            display: inline-block;
            padding-left: 1rem;
            margin: 0;
        }
    }
}