@mixin button {
    height: 58px;
    border-radius: 10px;
    border: unset;
    font-weight: 700;
}

span {
    color: white;
}

.product {
    padding: 20px;

    .title {
        font-size: 20px;
        font-weight: 700;
        color: gold;
    }

    .author {
        color: rgb(142, 139, 139);
    }

    .price {
        font-size: 18px;
        margin: 10px 0;
    }

    .product_details {

        .buttons_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 18px;

            .quantity_btn {
                padding: 20px 23px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 18px;
                background-color: #f7f8fd;
                @include button();

                img {
                    cursor: pointer;
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }

            .add_cart_btn {
                background-color: orange;
                color: black;
                font-size: 16px;
                margin-bottom: 20px;
                @include button();
                cursor: pointer;
                
                img {
                    width: 18px;
                    height: 16px;
                    margin: 0 16px;
                }

                &:hover {
                    background-color: orange;
                }
            }
        }

        .summary {
            margin: 10px 0;
            line-height: 1.2;
            letter-spacing: 1px;
        }
    }
}