.profileMenuContainer {
    position: relative;
    
    .profileIcon {
        width: 50px;
        height: 50px;
        text-align: center;
        img {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            cursor: pointer;
        }
    }

    .userMenu {
        position: absolute;
       
        width: 135px;
        height: auto;
        box-shadow: 0px 2px 4px 0;
        border-radius: 5px;
        background-color: white;

        li {
            padding: 10px;
            a {
                cursor: pointer;
                color: black;
            }

            &:hover {
                background-color: green;
            }
        }
    }
}
