.footerMainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-top: solid 1px black;
}

.socialMediaLinks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    h4 {
        font-size: 1rem;
    }
    i {
        color: black;
        font-size: 1.3rem;
    }
}

.siteInformation {
    p {
        font-size: 1rem;
    }
    ul {
        
        li {
            font-size: 0.7rem;
        }
    }
    
}