.footerMainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 20px;
    border-top: solid 1px black;
}

.socialMediaLinks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    h4 {
        font-size: 1rem;
        margin: 1rem 0;
    }
    i {
        color: black;
        font-size: 1.3rem;
    }
}

.siteInformation {
    display: flex;
    gap: 2rem;
    p {
        margin-top: 0;
        font-size: 1rem;
        text-decoration: underline;
    }
}

@media screen and (min-width: 768px) {
    .footerMainContainer {
        padding: 0 50px;
    }
    .socialMediaLinks {
        h4 {
            font-size: 1.5rem;
        }
        i {
            font-size: 1.4rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .footerMainContainer {
        padding: 0 50px;
    }
    .socialMediaLinks {
        gap: 1rem;
        h4 {
            font-size: 3rem;
        }
        i {
            font-size: 2.6rem;
        }
    }
    .siteInformation {
        gap: 5rem;
        p {
            font-size: 1.5rem;
        }
        li {
            font-size: 1.3rem;
        }
    }
}