.footerMainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border-top: solid 2px black;
}

.socialMediaLinks {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    h4 {
        font-size: 2.2rem;
    }
    i {
        color: black;
        font-size: 2rem;
    }
}

.siteInformation {
    display: flex;
    gap: 3rem;
    margin-left: 5rem;
    p {
        font-size: 2rem;
    }
}