.author {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 25px 20px;
    background-color: #202632;

    .author_name {
       margin-bottom: 10px;
    }

    .author_portrait {

        img {
            border: 2px solid white;
        }
    }
   
    h4, h5 {
        color: gold;
        align-self: start;
        margin-top: 15px;
        font-size: 18px;
    }

    .author_bio {
        margin-top: 5px;
        line-height: 1.2;
        letter-spacing: 1px;
    }

    .author_books {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-flow: row wrap;
        gap: 15px;

        margin: 20px 0;
        .book {
            background-color: #313a49;
            box-shadow: 0px 0px 5px 0px #52feaa;
            border-radius: 5px;

            figure {
                margin: 10px;
                width: 80px;
                height: 100px;
                img {
                    width: inherit;
                    height: inherit;
                }
            }
        }
    }

}