@mixin cartStyle {
    position: fixed;
    right: 5px;
    background-color: white;
    height: 260px;
    border-radius: 10px;
    box-shadow: 0 10px 25px -20px;
    transition: 0.4s;

    h3 {
        border-bottom: 1px solid #e9e9e9;
        padding: 25px;
    }

    .cartContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .message {
            font-weight: 700;
            color: #7d7f84;
            padding: 80px;
        }
    }
}

.cartBtn {
    margin: 0 22px;
  
    .numOfProducts {
        padding: 0 5px;
        border: 2px solid  #52feaa;
        border-radius: 15px;
        background-color:  #52feaa;
        color: black;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        margin: -10px -12px;
    }
}

.cartContainer {
   @include cartStyle();
   top: 75px;
   width: 365px;
   z-index: 1;
}

.cartContainerClose {
    @include cartStyle();
    top: -750px;
    width: 0;
}

@media screen and (min-width: 1024px) {
    .cartBtn {
        padding: 0 60px;
        img {
            width: 26px;
            height: 26px;
        }

        .numOfProducts {
            padding: 0 8px;
            font-size: 14px;
            margin: -12px -15px;
        }
    }
}