.galleryMainContainer {
    // margin: 8rem 4rem;
    text-align: center;
}

.firstRow, .secondRow {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.firstRow article , .secondRow article {
    flex-grow: 1;
    flex-basis: 0;
}

.firstRow figure , .secondRow figure {
    margin: 0;
    width: 100%;
    height: 100%;
}

.firstRow img, .secondRow img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
}
