.footerMainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: #313a49;

    .socialMediaLinks {
        display: flex;
        align-items: center;
        gap: 10px;

        h3 {
            font-size: 25px;
            margin-right: 15px;
        }

        i {
            color: white;
            font-size: 20px;
        }
    }

    .siteInformation {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;

        h4 {
            font-size: 18px;
        }
        
        span {
            color: white;
        }
    }
}