@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #d0e3ea;
}

button {
    cursor: pointer;
    border: unset;
    background-color: transparent;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}