@import url("https://use.fontawesome.com/releases/v6.4.0/css/all.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: unset;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}