* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

button {
    cursor: pointer;
    border: unset;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}