.author_list_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: #313a49;
    padding: 10px 15px;
    width: 100%;
    
    h2 {
        align-self: self-start;
    }

    .list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 20px;

        margin: 20px 0;

        figure{
            width: 100px;
            height: 160px;
            cursor: pointer;

            img {
                width: inherit;
                height: 100px;
                border-radius: 50%;
            }

            figcaption {
                font-size: 14px;
                margin: 10px 0;
                text-align: center;
            }
        }
    }
}